/* Heading part style */
.header-items{
    text-align: right;
    background-image: url('../media/banner/banner2.png');
    background-size: cover;

}
.header-items{
    padding: 180px 160px 170px 0;
    
}
.sub-heading{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}
.heading-description{
    color: rgb(93, 90, 90);
    font-family: 'Open Sans', sans-serif;
}
.button{
    height: 50px;
    width: 150px;
    background-color: #e9590b;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    color: aliceblue;
}
/* middle part styles */
.middle{
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    margin: 100px 0px 100px 150px;
}
.mid-heading{
    font-size: 40px;
}
.mid-heading-description{
    color: rgb(146, 146, 139);
}
.mid-section-items{
    padding-left: 100px;
}
.image{
    height: 600px;
    
}

.plans .plans-items{
    display: flex;
    justify-content: center;
    font-size: 30px;
    
}
.plans-description{
    margin-right: 30px;
    text-align: center;

    
}
.plans-items p{
    
    font-size: 22px;
    color: rgb(192, 181, 181);
    
}

/* gradient image style */
.gradient-image{
    background-image: url("../media/images/gradient2.png"),url("../media/images/watch.png");
    background-repeat: no-repeat;
    margin: 50px 100px 50px 200px;
    background-size: contain;
    height:300px;
    width: 910px;
}
.gradient-image-content{
    font-size: 45px;
    color: aliceblue;
    padding:1px 0 15px 60px;
}

.footer{
    
    color: aliceblue;
    background-color: black;
    height:500px;
    width: auto;
    
    
}
.footer-content{
    display: flex;
    padding: 100px 0 0 200px;
}

.content-2{
    padding-left: 250px;
    
}

.form-input{
    height: 50px;
    width: 300px;
    color: aliceblue;
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
   
}

.primary-button{
    height: 45px;
    width: 150px;
    background-color:white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    color: rgba(251, 96, 29, 0.934)
}

